In [216]:
import pandas as pd
import os
    from openpyxl import load_workbook

In [198]:
df = pd.read_excel('raw.xlsx')
df.head()

,time,open,high,low,close,Basis,Upper,Lower,Plot,Up Trend,...,Short Stop Start,Sell Indicator,Unnamed: 17,RSI,RSI-based MA,Upper Bollinger Band,Lower Bollinger Band,Histogram,MACD,Signal
0,2022-01-01T00:00:00+05:00,3710.190902,3710.190902,3687.67,3696.8150,3755.356750,3828.284653,3682.428847,3703.502951,NaN,...,NaN,NaN,3701.216701,15.829183,28.170419,NaN,NaN,-6.879661,-7.693979,-0.814318
1,2022-01-01T00:15:00+05:00,3703.502951,3703.502951,3650.99,3670.7225,3749.205375,3828.608802,3669.801948,3687.112725,NaN,...,NaN,NaN,3682.179600,11.733730,25.618750,NaN,NaN,-7.590627,-10.302602,-2.711975
2,2022-01-01T00:30:00+05:00,3687.112725,3687.112725,3643.00,3653.7125,3741.924750,3828.030828,3655.818672,3670.412613,NaN,...,NaN,NaN,3667.734488,9.920942,22.944212,NaN,NaN,-8.411585,-13.226455,-4.814871
3,2022-01-01T00:45:00+05:00,3670.412613,3670.412613,3623.00,3637.0675,3733.990375,3827.702215,3640.278535,3653.740056,NaN,...,NaN,NaN,3650.223181,8.524780,20.086898,NaN,NaN,-9.273941,-16.407297,-7.133356
4,2022-01-01T01:00:00+05:00,3653.740056,3663.870000,3622.29,3642.2325,3726.448250,3824.121569,3628.774931,3647.986278,NaN,...,NaN,NaN,3645.533139,12.656783,17.885605,NaN,NaN,-9.480565,-18.984063,-9.503497

In [199]:
df1 = df[['open', 'high', 'low', 'close','Buy Indicator', 'Sell Indicator']]

In [200]:
df1

,open,high,low,close,Buy Indicator,Sell Indicator
0,3710.190902,3710.190902,3687.67,3696.8150,NaN,NaN
1,3703.502951,3703.502951,3650.99,3670.7225,NaN,NaN
2,3687.112725,3687.112725,3643.00,3653.7125,NaN,NaN
3,3670.412613,3670.412613,3623.00,3637.0675,NaN,NaN
4,3653.740056,3663.870000,3622.29,3642.2325,NaN,NaN
...,...,...,...,...,...,...
5808,2978.304173,2978.304173,2955.00,2963.5475,NaN,NaN
5809,2970.925837,2976.690000,2955.64,2966.8975,NaN,NaN
5810,2968.911668,2980.420000,2965.61,2973.7275,NaN,NaN
5811,2971.319584,2979.220000,2964.00,2971.5375,NaN,NaN
5812,2971.428542,2975.100000,2958.04,2965.1850,NaN,NaN

In [201]:
def calculate_index(df, column_name):

    # df -> dataframe
    # column_name -> sell or sell indicator
    index_ = []
    for index, row in df.iterrows():
         if row[column_name] > 0:
            index_.append(index) 

    return index_

In [258]:
index_buy  = calculate_index(df1, 'Buy Indicator')

In [259]:
index_sell = calculate_index(df1, 'Sell Indicator')

In [103]:
if len(index_buy) < len(index_sell):
    diff = len(index_buy) - len(index_sell)
    index_sell = index_sell[-diff:]

In [81]:
index_buy[-5:]

[5712, 5727, 5759, 5775, 5792]

In [104]:
len(index_buy)

210

In [105]:
len(index_sell)

210

In [204]:
t1 = index_buy[0]
t2 = index_sell[0]

In [114]:
t2

36

3652.77844454396

In [205]:
df_new = pd.DataFrame(columns=['Buy', 'Sell', 'Stop_loss', 'Min', 'Max'])

In [206]:
# buy
df_new.loc[0, 'Buy'] =  df1.loc[t1, 'Buy Indicator']
# Sell
df_new.loc[0, 'Sell'] = df1.loc[t2, 'Sell Indicator']
# Stop loss
df_new.loc[0, 'Stop_loss'] = df1.loc[t1-3, 'open']

In [207]:
# max
df_new.loc[0, 'Min'] = df1[['open', 'high', 'low', 'close']].loc[t1:t2].min().min()

In [208]:
min
df_new.loc[0, 'Max'] = df1[['open', 'high', 'low', 'close']].loc[t1:t2].max().max()

In [209]:
df_new

           Buy         Sell    Stop_loss          Min      Max
0  3633.243295  3733.323632  3652.778445  3648.261993  3748.45

In [210]:
path = os.getcwd()

In [211]:
path = os.path.join(path, 'raw.xlsx')

In [217]:
book = load_workbook(path)

In [218]:
writer = pd.ExcelWriter(path, engine = 'openpyxl')

In [219]:
writer.book = book

In [220]:
df_new.to_excel(writer, sheet_name='processed')

In [221]:
writer.save()

In [222]:
writer.close()

In [224]:
len(index_buy)

215

In [225]:
len(index_sell)

215

In [227]:
index_sell[-5:]

[5721, 5744, 5771, 5782, 5805]

In [228]:
index_sell

[36,
 47,
 79,
 108,
 122,
 135,
 159,
 189,
 212,
 249,
 263,
 272,
 311,
 371,
 425,
 437,
 447,
 471,
 561,
 583,
 639,
 648,
 671,
 685,
 701,
 718,
 735,
 788,
 821,
 837,
 875,
 911,
 953,
 982,
 1001,
 1016,
 1022,
 1035,
 1079,
 1094,
 1105,
 1140,
 1164,
 1192,
 1216,
 1233,
 1298,
 1361,
 1381,
 1411,
 1436,
 1449,
 1495,
 1503,
 1513,
 1531,
 1557,
 1588,
 1639,
 1660,
 1684,
 1698,
 1748,
 1790,
 1811,
 1830,
 1877,
 1894,
 1915,
 1984,
 2008,
 2095,
 2106,
 2126,
 2141,
 2153,
 2178,
 2230,
 2247,
 2318,
 2342,
 2378,
 2384,
 2403,
 2423,
 2445,
 2483,
 2500,
 2521,
 2559,
 2580,
 2618,
 2639,
 2671,
 2689,
 2703,
 2714,
 2729,
 2744,
 2767,
 2797,
 2806,
 2856,
 2870,
 2879,
 2901,
 2946,
 3004,
 3020,
 3035,
 3055,
 3072,
 3094,
 3109,
 3119,
 3137,
 3148,
 3177,
 3196,
 3225,
 3237,
 3256,
 3338,
 3374,
 3407,
 3426,
 3447,
 3473,
 3486,
 3518,
 3535,
 3559,
 3574,
 3603,
 3655,
 3681,
 3697,
 3728,
 3771,
 3784,
 3798,
 3826,
 3852,
 3914,
 3932,
 3976,
 3991,
 4017,
 4065,
 4093,
 4106,
 4131,
 4137,
 4157,
 4188,
 4206,
 4222,
 4244,
 4267,
 4279,
 4318,
 4342,
 4359,
 4409,
 4426,
 4440,
 4452,
 4475,
 4522,
 4542,
 4566,
 4584,
 4647,
 4669,
 4716,
 4738,
 4759,
 4800,
 4809,
 4822,
 4872,
 4898,
 4931,
 4950,
 4987,
 5024,
 5077,
 5095,
 5115,
 5165,
 5179,
 5244,
 5275,
 5294,
 5313,
 5332,
 5359,
 5372,
 5408,
 5418,
 5431,
 5469,
 5484,
 5546,
 5563,
 5599,
 5628,
 5641,
 5692,
 5707,
 5721,
 5744,
 5771,
 5782,
 5805]

In [257]:
def equalize_indexes(buy_index, sell_index):

    if len(buy_index) > len(sell_index):
        diff = len(buy_index) - len(sell_index)
        buy_index = buy_index[:len(buy_index)-diff]
    
    elif len(sell_index) > len(buy_index):
        diff = len(sell_index) - len(buy_index)
        sell_index = sell_index[:len(sell_index)-diff]

    return buy_index, sell_index

In [268]:
index_buy, index_sell = equalize_indexes(index_buy, index_sell)

In [269]:
len(index_buy)

205

In [270]:
len(index_sell)

205

In [265]:
index_buy = index_buy[:205]

In [271]:
index_sell

[36,
 47,
 79,
 108,
 122,
 135,
 159,
 189,
 212,
 249,
 263,
 272,
 311,
 371,
 425,
 437,
 447,
 471,
 561,
 583,
 639,
 648,
 671,
 685,
 701,
 718,
 735,
 788,
 821,
 837,
 875,
 911,
 953,
 982,
 1001,
 1016,
 1022,
 1035,
 1079,
 1094,
 1105,
 1140,
 1164,
 1192,
 1216,
 1233,
 1298,
 1361,
 1381,
 1411,
 1436,
 1449,
 1495,
 1503,
 1513,
 1531,
 1557,
 1588,
 1639,
 1660,
 1684,
 1698,
 1748,
 1790,
 1811,
 1830,
 1877,
 1894,
 1915,
 1984,
 2008,
 2095,
 2106,
 2126,
 2141,
 2153,
 2178,
 2230,
 2247,
 2318,
 2342,
 2378,
 2384,
 2403,
 2423,
 2445,
 2483,
 2500,
 2521,
 2559,
 2580,
 2618,
 2639,
 2671,
 2689,
 2703,
 2714,
 2729,
 2744,
 2767,
 2797,
 2806,
 2856,
 2870,
 2879,
 2901,
 2946,
 3004,
 3020,
 3035,
 3055,
 3072,
 3094,
 3109,
 3119,
 3137,
 3148,
 3177,
 3196,
 3225,
 3237,
 3256,
 3338,
 3374,
 3407,
 3426,
 3447,
 3473,
 3486,
 3518,
 3535,
 3559,
 3574,
 3603,
 3655,
 3681,
 3697,
 3728,
 3771,
 3784,
 3798,
 3826,
 3852,
 3914,
 3932,
 3976,
 3991,
 4017,
 4065,
 4093,
 4106,
 4131,
 4137,
 4157,
 4188,
 4206,
 4222,
 4244,
 4267,
 4279,
 4318,
 4342,
 4359,
 4409,
 4426,
 4440,
 4452,
 4475,
 4522,
 4542,
 4566,
 4584,
 4647,
 4669,
 4716,
 4738,
 4759,
 4800,
 4809,
 4822,
 4872,
 4898,
 4931,
 4950,
 4987,
 5024,
 5077,
 5095,
 5115,
 5165,
 5179,
 5244,
 5275,
 5294,
 5313,
 5332,
 5359,
 5372,
 5408,
 5418,
 5431,
 5469,
 5484,
 5546,
 5563]